@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Open+Sans:wght@300;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
     */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:target {
    -webkit-animation: target-fade 3s;
    -moz-animation: target-fade 3s;
    -o-animation: target-fade 3s;
    animation: target-fade 3s;
}

@keyframes target-fade {
    from {
        color: #a5050b;
    }

    to {
        color: #000;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: #191817;
    background-color: #FEFEFD;
}

.wrapper {
    position: relative;
    min-height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header h1 {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-size: 16px;
    line-height: 1.25;
}

h3 {
    margin-top: 8px;
    color: #666666;
    font-size: .8rem;
    line-height: 1.25;
}

.brand {
    color: #a5050b;
    font-weight: bold;
}

.footer {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 300;
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
}

a {
    color: #335F8D;
    text-decoration: underline;
    text-decoration-color: #335f8d14;
    font-size: 0.9em;
}
