.wrapper {
    margin-bottom: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
    margin-bottom: 15px;
}

.header__section {
    width: 100%;
}

.menu {
    text-align: center;
}

.menu a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #757575;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

.menu a:hover {
    color: #a5050b;
    text-decoration: dashed;
}

.header__brand {
    font-size: 1.5rem;
}

.red__color {
    color: #a5050b;
    font-weight: bold;
}

.information {
    color: #757575;
    text-align: center;
}

.information > h2, .information > h3 {
    margin-bottom: 5px;
}

.total__tweets {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .header {
      flex-direction: column;
    }
    .header__section { 
        text-align: center;
        margin-top: 15px;
    }
    .header__brand {
        margin-bottom: 15px;
        font-size: 2em;
    }
  }
  