.search {
    font-size: 1em;
    position: relative;
    
    padding-left: 17px;
}

.clear-icon {
    position: absolute;
    width: 10px;
    right: 12px;
    top: 12px;
    fill: #c5cbd5;
    display: none;
}
.clear-icon:hover, .clear-icon:focus {
    cursor: pointer;
    fill: black;
}
.results {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    z-index: 1;
    display: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%), 0 2px 2px rgb(0 0 0 / 3%), 0 0 1px rgb(0 0 0 / 3%);
}

.results::-webkit-scrollbar-track
{
  
}

.results::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.results::-webkit-scrollbar-thumb
{
    background-color: #C5CBD5;
}

.search-field:focus-visible {
    outline: none;
}
.search-field {
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 9px 9px;
    background-size: 20px 20px;
    border-bottom: 1px solid #C5CBD5;
    width: 100%;
    padding: 0.5em 1em 0.5em 2.5em;
    color: #191817;
}
.search-field::placeholder {
    color: #8c92a0;
    font-size: 14px;
    line-height: 20px;
}
.search-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    line-height: 16px;
    color: #757575;
    text-align: initial;
    text-overflow: ellipsis;
}
.search-item:hover {
    background-color: #5A9FC7;
    color: #fff;
    cursor: pointer;
}