.title {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 12px;
    color: #191817;
}

.bold {
    font-weight: bold;
}

.title img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.sub-title {
    margin-left: 24px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.25em;
}

.questions {
    margin-left: 24px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.25em;
}

.question {
    margin-bottom: 6px;
}

.question-title {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 1.3em;
}

.question-option {
    margin-bottom: 6px;
}

.failed-exam {
    color: #a5050b;
}

.player {
    width: 100%;
}

.player audio {
    width: 100%;
}

.submitExam {
    display: inline-block;
    padding: 12px 28px;
    margin-top: 8px;
    background-color: #a5050b;
    border: 1px solid #a5050b;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.submitExam:hover {
    background-color: #b2373c;
    color: white;
}

.center {
    text-align: center;
}

.flex-right {
    width: 35%;
    max-width: 400px;
}

.side-block {
    background-color: #F5F5F5;
    padding: 24px 28px 22px 28px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
}

.metadata-section {
    margin-bottom: 6px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.metadata-section .icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.related {
    display: list-item;
    list-style-type: none;
    margin-left: 24px;
    margin-bottom: 8px;
    line-height: 1.3em;
    word-break: break-word;
}

.related:last-child {
    margin-bottom: 20px;
}


.sharing {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.sharing .social-media {
    display: block;
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.sharing .social-media.twitter {
    background-color: #00acee;
}

.sharing .social-media.linkedin {
    background-color: #0077b5;
}

.sharing .social-media a img {
    margin-right: 10px;
}

.sharing .social-media a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
}

@media (max-width: 1300px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        width: 90%;
        padding: 0;
    }

    .flexContainer {
        flex-direction: column;
    }

    .flexLeft {
        width: 100%;
    }
    
    .side-block {
        max-width: inherit;
        min-width: initial;
        padding: 10px;
    }

    .flex-right {
        width: 100%;
        margin-left: 0;
        position: relative;
        max-width: inherit;
    }

    .metadata img {
        max-width: 280px;
        max-height: 120px;
    }

    .footer {
        padding: 5px;
    }

    .category {
        margin-top: 5.5px;
    }
}

.input-radio {
    accent-color: #a5050b;
    margin: 3px;
    vertical-align: text-top;
}

@media print {
    .side-block {
        display: none;
    }
}