.wrapper {
    position: relative;
    min-height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.category {
    display: inline-block;
    background-color: #3972e1;
    border-radius: 2px;
    padding: 3px 6px;
    margin-right: 0.5em;
    color: #fff;
    font-size: 0.9em;
    margin: 2px;
}

.categories {
    max-width: 800px;
}

.category-selected {
    background-color: #a5050b;
}

.category:hover {
    background-color: #a5050b;
    cursor: pointer;
}

.text-heading {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: rgb(25, 24, 23);
}

.heading {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* CSS Class for book and title, author, category, tags, img */
.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.book .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
}

.book a {
    color: #a5050b;
}

.book .separation {
    margin-top: 10px;
}

.book .secondary-link {
    display: inline-block;
    color: #757575;
    font-size: 12px;
    line-height: 16px;
    -webkit-text-decoration: dotted;
    text-decoration: dotted;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #b2b2b2;
    text-decoration-color: #b2b2b2;
    text-underline-offset: 2px;
    vertical-align: text-top;
    cursor: pointer;
}

.book img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 5px;
}

.more {
    text-align: center;
}

.more h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.more a {
    color: #a5050b;
}

/* Media query for tables that will show only 3 books */

@media (max-width: 1024px) {
    .books {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media query for mobile devices that will show only 1 book */

@media (max-width: 600px) {
    .books {
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading {
        align-items: start;
    }
}