.wrapper {
    width: 100%;
    padding: 0;
}

.centered {
    width: 80%;
    position: relative;
    min-height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

}


.glossary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    justify-content: space-between;
    align-items: center;

    margin-top: 15px;

}

.word {
    color: #a5050b;
    font-weight: bold;
}

.glossaryEntry {
    width: 100%;
    /* nothing else worked */
    border-bottom: 1em solid transparent;
}


h2.title {
    font-size: 2em;
    color: #a5050b;
    margin-bottom: 1em;
    text-align: center;
}


@media (max-width: 770px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .centered {
        width: 100%;
        position: relative;
        min-height: 32px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

    }
}